* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --width: 50%;
}

body {
  background-image: url(images/macos.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

#doc {
  position: fixed;
  bottom: 20px;
  background-color: indigo;
  width: var(--width);
  left: 20%;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 255, 0.8),
    rgba(0, 0, 255, 0) 70.71%
  );
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.doc-icon {
  width: 50px;
  transition: all transform 0.5s;
}

.doc-icon:hover {
  transform: scale(1) translatey(-10px);
}
